<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 teamtop">
				<h2>{{site.data.[page.lang].team.advisorsTitle}}</h2>
				<p>{{site.data.[page.lang].team.advisorsDesc}}</p>
			</div>
		</div>
		
		<div class="teamlist">
			<div class="row">
				{% for teamList in {{site.data.[page.lang].team.advisors}} %}
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="teamcol">
						<figure><img src="{{site.baseurl}}{{teamList.image}}" alt=""></figure>
						<div class="teamcontent">
							<h3>{{teamList.name}}</h3>
							<h6>{{teamList.pos}}</h6>
							<p><a href="mailto:{{teamList.image}}">{{teamList.email}}</a></p>
							<p>+{{teamList.phone}}</p>
							<ul>
								{% for item in teamList.social %}
								  <li><a href="{{ item.link }}" target="_blank"><img src="{{ item.icon }}" alt=""> </a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			
			</div>
		</div>