<!-- ================ Book Demo Section ================ -->
<div class="container-fluid booksection">
   <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 bookleft">
				<h3>{{site.data.[page.lang].book-demo.title}}</h3>
				{%if site.data.[page.lang].book-demo.desc %}
					<p>{{site.data.[page.lang].book-demo.desc}}</p>
				{% endif %}
				
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-6 bookright">
				<figure><a href="{{site.data.[page.lang].book-demo.btnUrl}}" data-toggle="modal" data-target="#squarespaceModal" class=""><img src="{{site.baseurl}}{{site.data.[page.lang].book-demo.btn}}" alt="{{site.data.[page.lang].book-demo.title}}"></a></figure>
			</div>
		</div>
	</div>
</div>