<!-- ================ Helen Mission Section Starts================ -->
<div class="container helensection">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 leftsection">
			<h1>{{ site.data.[page.lang].helen-mission.title}}    </h1>
			{{ site.data.[page.lang].helen-mission.desc}}  
			<a href="{{ site.data.[page.lang].helen-mission.btnUrl}}" class="btn btn-green mTop25">{{ site.data.[page.lang].helen-mission.btnText}}  </a>
		</div>
		
		<div class="col-xs-12 col-sm-5 col-md-5">
			<figure><img src="{{site.baseurl}}{{ site.data.[page.lang].helen-mission.image}}" alt=""></figure>
		</div>
	</div>
</div>