<!-- ================ Testimonial Section ================ -->
<div class="container-fluid testimonialsection" id="media">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 text-center">
				<h2>{{site.data.[page.lang].media.title}}</h2>
				<p>{{site.data.[page.lang].media.desc}}</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 text-center mTop25">
				<div class="carousel slide cars-slide " data-ride="carousel" id="in-media">
					<!-- Bottom Carousel Indicators -->
					<ol class="carousel-indicators">
						{% for testi in {{site.data.[page.lang].media.medias}} %}
							<li data-target="#quote-carousel" data-slide-to="{{forloop.index}}" class="{% if forloop.first %}active {% endif %}"></li>
						{%endfor%}
					</ol>
					<!-- Carousel Slides / Quotes -->
					<div class="carousel-inner">
						{% for testi in {{site.data.[page.lang].media.medias}} %}
						  <!-- Quote -->
						  <div class="item {% if forloop.first %}active {% endif %} ">
							<blockquote>
							  <div class="row">
								<div class="col-sm-12 text-center">
								  <img class="img-circle" src="{{site.baseurl}}{{testi.image}}" alt="{{testi.image}}">
								</div>
								<div class="col-sm-12">
								  <p>{{testi.comments}} {{forloop.index}}</p>
								  <figure><img src="{{site.baseurl}}{{testi.logo}}" alt="{{testi.logo}}"></figure>
								</div>
							  </div>
							</blockquote>
						  </div>
						  {% endfor %}
					</div>
					<!-- Carousel Buttons Next/Prev -->
					<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
					<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
				</div>                          
            </div>
		</div>
	</div>
</div>