<!-- ================ Media Section ================ -->
<div class="container mediasection carouselsection " id="partners">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
			<h2>{{site.data.[page.lang].partners.title}}</h2>
			<p>{{site.data.[page.lang].partners.desc}}</p>
		</div>
		 <div class="col-xs-12 col-sm-12 col-md-12 mediascroll">
			<div class="owl-carousel owl-theme">
				 {% for loops in  site.data.[page.lang].partners.media %}
					<div class="item">
					  <figure><a href="{{loops.url}}" target="_blank"><img src="{{site.baseurl}}{{loops.image}}" alt=""></a></figure>	
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>