
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}

    <a href="{{ post.url | relative_url }}" class="{{ post.lang }}">{{ post.lang }}</a>

{% endfor %}

{% assign parent_page_lang=page.lang %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
	<li>
    {% if page.url != "/" %}
        <a href="{{ page.url | relative_url }}" 
		data-lang="{% for langs in site.languageNames %}{% if langs[0] == page.lang %}{{ langs[1] }}{% endif %}{% endfor %}" {% if parent_page_lang == page.lang %}class="active"{% endif %}>
			{% for langs in site.languageNames %}
				{% if langs[0] == page.lang %} {{ langs[1] }} {% endif %}
			{% endfor %}
        </a>
	</li>
    {% endif %}
{% endfor %}


									